h1{
    text-align: center;
}

.welcome{
    text-align: center;
    font-size:20px;
    margin-bottom: 50px;
}

.popol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 250px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

.popol_img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.list {
    display:grid;
    grid-template-columns: 1fr 1fr;
}