h1 {
    text-align:center;
    margin-bottom : 50px;
}

p {
    text-align:center;
    margin-bottom : 30px;
}

div {
    text-align : center;
}

.choose {
    display:grid;
    grid-template-columns: 1fr 1fr;
}